/* CharacterDetail.css */
.character-detail-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f7f7f7; /* Light background for clear contrast */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.character-detail-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.character-detail-container p {
  color: #555;
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.character-detail-container strong {
  font-weight: bold;
  color: #222;
}

.character-detail-container a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.character-detail-container a:hover {
  text-decoration: underline;
  color: #0056b3;
}
